/*
========================================================================================
    16S PROFILING PIPELINE - Configuration File
========================================================================================
*/

/*
========================================================================================
    Cache Directories
========================================================================================
    These directories will store downloaded databases and container images.
    Set them to persistent, shared locations to avoid re-downloading.
    
    Recommended setup:
    - Use shared filesystem paths accessible to all compute nodes
    - Ensure sufficient storage (Classifiers ~ 500MB, containers ~4GB)
========================================================================================
*/

params {
    
    ////////////////////////////////////////////////////////////////////////////////////
    // Cache directories
    singularity_cache_dir     = './singularity_cache'  // Container images cache
    classifiers_dir = './classifiers' // path to your classifiers

    ////////////////////////////////////////////////////////////////////////////////////
    // Input/Output options
    input                      = null
    outdir                     = './results'
    
    ////////////////////////////////////////////////////////////////////////////////////
    // Run parameters
    tax_level = "genus"
    run_id = "run01"

    ////////////////////////////////////////////////////////////////////////////////////
    // Cutadapt parameters
    f_primer = "CCTACGGGNGGCWGCAG"
    r_primer = "GACTACHVGGGTATCTAATCC"
    f_nextera = "TCGTCGGCAGCGTCAGATGTGTATAAGAGACAG"
    r_nextera = "GTCTCGTGGGCTCGGAGATGTGTATAAGAGACAG"

    ////////////////////////////////////////////////////////////////////////////////////
    // DADA2 parameters
    truncQ = 2 
    truncLen_R1 = 230
    truncLen_R2 = 230
    maxEE_R1 = 2
    maxEE_R2 = 5
    maxMismatch = 1
    minOverlap = 10

    ////////////////////////////////////////////////////////////////////////////////////
    // bbmap parameters
    bbmap_trimq = 15
    bbmap_maxlength = 600
    bbmap_mininsert = 50

    ////////////////////////////////////////////////////////////////////////////////////
    // DEBLUR parameters
    deblur_ptrimlength = 400
    deblur_minreads = 10
    deblur_minsize = 2

    ////////////////////////////////////////////////////////////////////////////////////
    // QIIME NAIVE BAYES
    qiime_naive_bayes_confidence = 0.7

    ////////////////////////////////////////////////////////////////////////////////////
    // QIIME BLAST
    blast_percidentity = 0.8
    blast_minconsensus = 0.51

    ////////////////////////////////////////////////////////////////////////////////////
    // MultiQC parameters
    multiqc_config                    = null
    multiqc_title                     = '16S Profiling Report'
    multiqc_extra_args                = ''
    
    ////////////////////////////////////////////////////////////////////////////////////
    // Resource allocation defaults (can be overridden per process)
    max_cpus                          = 16
    max_memory                        = '128.GB'
    max_time                          = '48.h'
}

/*
========================================================================================
    Singularity configuration
========================================================================================
*/

singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cache_dir
    envWhitelist = 'SINGULARITY_TMPDIR,TMPDIR,NUMBA_CACHE_DIR,MPLCONFIGDIR,MPLBACKEND,PYTHONPATH'
    pullTimeout = '2h'
}

process {
    
    // Global container settings
    container = null
    
    // Error strategy
    errorStrategy = 'terminate'
    
    // FastQC raw
    withName: 'FASTQC_RAW' {
        cpus = 4
        memory = 8.GB
        time = 2.h
        container = 'docker://quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }

    withName: 'FASTQC_TRIMMED' {
        cpus = 4
        memory = 8.GB
        time = 2.h
        container = 'docker://quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }

    withName: 'CUTADAPT' {
        cpus = 4
        memory = 8.GB
        time = 2.h
        container = 'docker://quay.io/biocontainers/cutadapt:5.2--py311haab0aaa_0'
    }

    withName: 'DADA2' {
        cpus = 4
        memory = 8.GB
        time = 2.h
        container = 'docker://quay.io/biocontainers/bioconductor-dada2:1.38.0--r45ha27e39d_0'
    }

    withName: 'MERGING_READS'{
        cpus = 4
        memory = 8.GB
        time = 2.h
        container = 'docker://quay.io/biocontainers/bbmap:39.52--he5f24ec_0'
    }

    withName: 'QIIME_IMPORT'{
        cpus = 16
        memory = 8.GB
        time = 2.h
        container = 'docker://quay.io/qiime2/amplicon:2026.1'
    } 
    
    withName: 'QIIME_DEBLUR'{
        cpus = 16
        memory = 8.GB
        time = 2.h
        container = 'docker://quay.io/qiime2/amplicon:2026.1'
    }

    withName: 'QIIME_NAIVE_BAYES'{
        cpus = 8
        memory = 16.GB
        time = 4.h
        container = 'docker://quay.io/qiime2/amplicon:2026.1'
    }

    withName: 'QIIME_BLAST'{
        cpus = 8
        memory = 16.GB
        time = 4.h
        container = 'docker://quay.io/qiime2/amplicon:2026.1'
    }

    withName: 'IDTAXA_DADA2'{
        cpus = 16
        memory = 8.GB
        time = 2.h
        container = 'quay.io/biocontainers/bioconductor-decipher:3.6.0--r45h01b2380_0'
    }
    withName: 'IDTAXA_DEBLUR'{
        cpus = 16
        memory = 8.GB
        time = 2.h
        container = 'quay.io/biocontainers/bioconductor-decipher:3.6.0--r45h01b2380_0'
    }

    withName: 'ASSIGNTAXONOMY_DADA2' {
        cpus = 4
        memory = 8.GB
        time = 2.h
        container = 'docker://quay.io/biocontainers/bioconductor-dada2:1.38.0--r45ha27e39d_0'
    }

    withName: 'ASSIGNTAXONOMY_DEBLUR' {
        cpus = 4
        memory = 8.GB
        time = 2.h
        container = 'docker://quay.io/biocontainers/bioconductor-dada2:1.38.0--r45ha27e39d_0'
    }

    // METASTANDARD
    withName: 'METASTANDARD' {
        cpus = 4
        memory = 8.GB
        time = 4.h
        container = 'docker://quay.io/biocontainers/pandas:2.2.1'
    }

     // MultiQC
    withName: 'MULTIQC' {
        cpus = 2
        memory = 4.GB
        time = 1.h
        container = 'docker://quay.io/biocontainers/multiqc:1.21--pyhdfd78af_0'
    }


}

/*
========================================================================================
    Report and trace options
========================================================================================
*/

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/dag.svg"
}

manifest {
    name = 'metagenomic-profiling-pipeline'
    author = 'Petra Polakovicova & Alise Ponsero'
    description = 'Nextflow pipeline for 16S profiling benchmark with cutadapt, dada2, deblur, usearch, and different taxonomic classifiers.'
    mainScript = 'main.nf'
    nextflowVersion = '>=22.10.0'
    version = '1.0.0'
}
